<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <style>
      input {
        display: block;
      }
    </style>
  </head>
  <body>
    <h1>Change Password</h1>
    <form method="post">
      {% csrf_token %}
      <input type="password" name="newpasswd" placeholder="New password" required/>
      <input type="text" name="otp" placeholder="Enter OTP" required/>
      <button type="submit">Change</button>
    </form>
    {% for message in messages %}
    <h1>{{message}}</h1>
    {% endfor %}
  </body>
</html>
